#logo {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

[id*="-list"]>tbody>tr>td:nth-child(2) {
    text-decoration: underline;
    color: #335aca;
    cursor: pointer;
}

.highcharts-credits{
    display: none;
}